[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "bundle/VimCompletesMe"]
	path = bundle/VimCompletesMe
	url = https://github.com/ackyshake/VimCompletesMe.git
